/***********************************/
/* !RESET QUASAR STYLES TO DEFAULT
/***********************************/

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.2em;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.17em;
  }
  
  button {
    font-family: Arial;
  }
  
  body {
      margin: 0px !important;
  }
  
  .q-item.q-router-link--active, .q-item--active {
      color: black;
  }