/**************************/
/* !THE INFO BAR
/**************************/

#bottom_zone {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	background: #A7C4E0;
}

#bz_content {
	flex-grow: 1;
	display: flex;
	background: #7c98b3;
	width: 100%;
}

@media screen and ( max-width: 767px ) and (hover: none) {
	
	#bz_content {
		max-height: 85px;
		flex-grow: unset;
		justify-content: center;
	}
	
	#bottom_zone {
		display: flex;
	}
}
.mob_style #bottom_zone {
	/* background: #7c98b3; */
}



#info_bar {
	display: flex;
	align-items: center;

	text-align: center;
	margin-top: 1em;
	width: 100%;

	background: #7c98b3;
	border-radius: 12px;
	padding: 20px;
}

@media screen and ( max-width: 767px ) and (hover: none) {
	#info_bar {
		padding: 0;
		margin-top: 0;
	}
}
.mob_style #info_bar {
	padding: 0;
	margin-top: 0;
}

#info_bar {

    #item_flex_container {
        display: flex;
        margin: 0 auto;
    }

    .s_item {
        display: inline-block;
        background-color: #A7C4E0;
        margin-right: 15px;
        border-radius: 6px;
        height: 40px;
        padding: 3px 6px;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        color: white;
    }

	.s_item {
		position: relative;
		font-size: 0.875rem; /* 0.875 = 14/16 (16px being the default base size on the html{} selector */

		.s_badge {
			position: absolute;
			bottom: 3px;
			right: 3px;
			font-size: 0.571em;
		}

		&.inspiration {
			font-size: 0.72em;
		}
		
	}

    .piece.s_item,
    .inspiration.s_item {
        width: 25px;
    }

    .s_item .s_text {
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
    }

    .s_item.s_text_only {
        padding-left: 18px;
        padding-right: 18px;
    }

    .s_item:last-child {
        margin-right: 0;
    }

    .current_player.s_item {
        padding: 3px 8px;
    }

}

.cpi.baboon {
	font-size: 120%;
	margin-right: 2px;
}

.cpi.hippo {
	font-size: 170%;
	margin-right: 2px;

	display: inline-block;
	padding-bottom: 5px;
}


.cpi.blue,
.cpi.red {
	display: inline-block;
	height: 25px;
	position: relative;
	top: 2px;
	width: 25px
}

.cpi.red {
	background-color: #971201
}

.cpi.blue {
	background-color: #061D98;
}

.oi {
	height: 43px;
	position: relative;
	top: 2px;
}

.player_pulse {
	animation: player_pulse 4s ease-in-out 1 0s;
	animation-iteration-count: 100;
}

/* !NEW TURN PULSE STYLES (PARTWAY DONE)

GameWorld.vue changes are at https://github.com/tog22/gods_vue/commit/f14faff612692f26938461902f6907023e335d8f


#info_bar .s_item {
	display: inline-block;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	color: white;
}

#info_bar .s_item .s_rounded {
	display: table-cell;
	vertical-align: middle;

	background-color: #A7C4E0;
	margin-right: 15px;
	border-radius: 6px;
	height: 40px;
	padding: 3px 6px;
}

@keyframes player_pulse {
	0% {
		background-color: #A7C4E0;
	}
	50% {
		background-color: #B4D4F2;
	}
	100% {
		background-color: #A7C4E0;
	}
}

@keyframes pulse_selected {
	0% {
		background-color: #A7C4E0;
	}
	50% {
		background-color: #E1EDF8;
	}
	100% {
		background-color: #A7C4E0;
	}
}

Remove after playing with :

$("#info_bar .current_player.s_item").on(
	"transitionend MSTransitionEnd webkitTransitionEnd oTransitionEnd",
	function() {
		$(this).removeClass("player_pulse");
	}
);

*/