
$phone: 			        767px;
$gtphone:		    	    768px;
$border_light: 	         	#eee;
$hover_col:		        	#ddd;

$striped_list_odd:          #eee;
$striped_list_even:         #fff;
$striped_list_hover:        #ddd;
$striped_list_selected:     #ddd;